<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fr_arm urdf file -->
    <xacro:include filename="$(find fr_arm_description)/urdf/robot_core.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="fr_arm.ros2_control.xacro" />


    <xacro:fr_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
